body{
    background: rgb(39,43,135);
    background: linear-gradient(176deg, rgba(39,43,135,1) 0%, rgba(231,40,43,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.text{
    display:block;
    margin-top:30px;
    width: 80vw;
    margin:0 auto;
}
.text h2 
{
    text-align: center;
    transform: translateX(-100%);
    animation: move-into-place 2s ease;
    animation-fill-mode: forwards;
}
@keyframes move-into-place {
    from{
        transform: translateX(-100%);

    }
    to{
        transform: translateX(0%);

    }
}
.item-container
{
    padding: 5px;
    border-bottom: 1px solid gray;
}
.item-container input 
{
    margin-left: 40%;
}

.text h2{
    font-size:30px;
    color:white;
    text-shadow: 2px 2px 2px black;
}

.text h3{
    color:white;
    text-shadow: 2px 2px 2px black;
    text-align: left;
    display:block;
}

.text p{
    font-size:20px;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    display:inline-block;
    width:700px;
    border-style:solid;
    text-shadow: 2px 2px 2px black;
    padding:40px;
    background-color:#1a194b;
    color:#f3f3f3;
    
    box-shadow:1px 1px 10px 2px red;
}

.foot{
    margin-top:50px;
    border-top:solid;
    border-color: white;
    height:93px;
    background-color: rgb(1, 0, 39);
}

.left{
    float:left;
    padding:15px;
    font-size:18px;
    color:white;
    text-shadow: 2px 2px 2px black;
}

.right{
    float:right;
}

.right ul{
    list-style: none;
}

.right li{
    display:inline-block;
    padding:15px;
    margin-right:10px;
    font-size:18px;
    
    text-shadow: 2px 2px 2px black;
}

.right a{
    color:white;
    text-decoration:none;
}

.right a:hover{
    color:#ff2e2e;
}
/* stilul implicit pentru toate casetele */
.caseta {
    /* display: none; */
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
/* stilul casetei atunci cand subtitlul este selectat */
.subtitlu:checked ~ .caseta {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TEST*/
.footer-toggle-show,
.footer-toggle-hide {
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 2.5rem;

}
.footer-toggle-show img 
{
    height: 20px;
    object-fit: contain;
}
.footer-toggle-show:hover{
    color: gray;
    transition: all 0.5s ease
}
.footer-toggle-hide:hover{
    color: gray;
    transition: all 0.5s ease
}
.footer-details,
.footer-toggle-hide,
.footer-toggle-show:target {
  display: none;
}

.footer-toggle-show:target + .footer-toggle-hide,
.footer-toggle-show:target ~ .footer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-toggle-show:after,
.footer-toggle-hide:after {
  float: right;
  content: "+";
}
.footer-toggle-hide:after {
  transform: rotate(45deg) scale(1.09);
}

.text-header 
{
    text-align: left;
    flex-direction: row !important;
    align-items: space-between !important;
    justify-content: space-between !important;
}
 