body
{
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.img-left
{
    float: left; 
    position: absolute;
    z-index: 1;
    margin-top:800px;
    margin-left:-160px;
    margin-right:-300px;
}

.img-right
{
    float: right; 
    position: absolute;
    right: 0px;
    margin-top:800px;
    
    margin-right:-160px;
    margin-left:-300px;
}


.text{
    display:block;
    text-align:center;
    margin-top:30px;
}

.text h2{
    font-size:40px;
    color:white;
    text-shadow: 2px 2px 2px black;
    text-decoration: underline;
    text-underline-position: under;
}

.text p{
    font-size:22px;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-shadow: 2px 2px 2px black;
    color:#f3f3f3;
    display:inline-block;
    width:700px;
    padding:40px;
}

#top {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }

  #top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #top:hover {
    cursor: pointer;
    background-color: #333;
  }
  #top:active {
    background-color: #555;
  }
  #top.show {
    opacity: 1;
    visibility: visible;
  }
  
  
  @media only screen and (min-height: 600px) {
    .back-to-top {
      display: block;
    }
  }
  

.foot{
    margin-top:50px;
    border-top:solid;
    border-color: white;
    height:93px;
    background-color: rgb(1, 0, 39);
}

.left{
    float:left;
    padding:15px;
    font-size:18px;
    color:white;
    text-shadow: 2px 2px 2px black;
}

.right{
    float:right;
}

.right ul{
    list-style: none;
}

.right li{
    display:inline-block;
    padding:15px;
    margin-right:10px;
    font-size:18px;
    
    text-shadow: 2px 2px 2px black;
}

.right a{
    color:white;
    text-decoration:none;
}

.right a:hover{
    color:#ff2e2e;
}