body{
    background-image: url("/images/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}


  .table-fill {
    background: rgb(255, 254, 254);
    border-radius:3px;
    border-collapse: collapse;
    height: 910px;
    margin: auto;
    padding:15px;
    width: 70%;
    box-shadow: 0 5px 10px rgba(255, 1, 1, 0.741);
    animation: float 5s infinite;
  }
   
  th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:0px 70px 20px 70px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
    
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  
   
  td {
    background:#FFFFFF;
    text-align:left;
    font-weight:300;
    font-size:18px;
    padding: 5px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
  }
  
  th.text-left {
    text-align: left;
  }
  
  th.text-center {
    text-align: center;
  }
  
  th.text-right {
    text-align: right;
  }
  
  td.text-left {
    text-align: left;
    padding-left:10px;
  }
  
  td.text-center {
    text-align: center;
  }
  
  td.text-right {
    text-align: right;
  }

  .links {
    background-color: #e7282b;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
    border-bottom: 1px solid #0003;
    box-shadow: 0 0 32px #0003;
    font-size: 1.4em;
    font-weight: 600;
  }

  .links  a {
    color: rgb(253, 253, 253);
    padding: 0.7em;
    text-align: center;
    width: 100%;
    text-decoration: none;
    transition: all .5s;
  }
  .links  a:hover {
    background-color: #360d0d4f;
    color: rgb(253, 135, 135);
  }
  .links  .line {
    background: #68a;
    height: 1px;
    pointer-events: none;
  }

  .links {
    position: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 30%;
  }
  .links .line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
  }
  


table tr td{
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
}

table tr th{
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
}

.text{
    display:block;
    text-align:center;
    margin-top:30px;
}


.text h2{
    font-size:30px;
    color:white;
    text-shadow: 2px 2px 2px black;
}

.text p{
    font-size:20px;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    display:inline-block;
    width:850px;
    border-style:solid;
    text-shadow: 2px 2px 2px black;
    padding:40px;
    background-color:#679962;
    color:#f3f3f3;
    border-radius:50px;
    box-shadow:1px 1px 10px 2px #ffffff;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #f4511e;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
  }
  
.back-to-top:hover {
    opacity: 0.8;
  }
  
.arrow-up {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(-225deg);
    margin: 17px auto 0;
    position: relative;
  }
  
  @media only screen and (min-height: 600px) {
    .back-to-top {
      display: block;
    }
  }

.foot{
    margin-top:50px;
    border-top:solid;
    border-color: white;
    height:93px;
    background-color: rgb(1, 0, 39);
}

.left{
    float:left;
    padding:15px;
    font-size:18px;
    color:white;
    text-shadow: 2px 2px 2px black;
}

.right{
    float:right;
}

.right ul{
    list-style: none;
}

.right li{
    display:inline-block;
    padding:15px;
    margin-right:10px;
    font-size:18px;
    
    text-shadow: 2px 2px 2px black;
}

.right a{
    color:white;
    text-decoration:none;
}

.right a:hover{
    color:#ff2e2e;
}