body{
    background: rgb(39,43,135);
    background: linear-gradient(176deg, rgba(39,43,135,1) 0%, rgba(231,40,43,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: #CA4246;
    
    /* Create the gradient. */
     background-image: linear-gradient(
          45deg,
          #ffffff 16.666%, 
          #ee0a0a 16.666%, 
          #f32929 33.333%, 
          #ed3a3a 33.333%, 
          #ededed 50%, 
          #ffffff 50%, 
          #4255ff 66.666%, 
          #4a47fc 66.666%, 
          #0036a9 83.333%, 
          #2c15ab 83.333%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(0, 0, 0); 
    
    /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  
  }
  
  .gradient-text:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }

  .header{
    margin-top: -9px;
    text-align:center;
    color:white;
    background-image: url("back.jpg");
    background-size: cover;  
    padding:60px;
}

.header h1{
    margin-top:120px;
    font-size: 90px;
    margin-bottom: 0;
    margin-bottom: -0.25em;
    -webkit-transition:0.5s;
            transition:0.5s;
    transition-timing-function: ease;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.header h1:hover{
    font-size:100px;
    -webkit-transition:0.5s;
            transition:0.5s;
    transition-timing-function: ease;
}

.header h3 {
    border-top: 5px solid #1375b0;
    font-family: "Open Sans", sans-serif; 
    font-size: 28px; 
    font-weight: bold; 
    color: white; 
    -webkit-text-stroke: 1.5px rgb(0, 0, 0); 
    text-transform: uppercase; 
    letter-spacing: 4px; 
    line-height: 2.9; 
    margin-top: 130px; 
    margin-bottom: 10px; 
    border-bottom: 5px solid #e7282b; 
    background-color: #272b87;
    width: 100%;
    float: none;
    display: flex;
  }
  
.header h3::before {
    content: "FCBT";
    display: block;
    position: relative;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0); 
    top: 0px;
    left: 0;
    font-size: 36px;
    padding: 25px 35px;
    background-image: linear-gradient(to top, #429ce9 0, #1375b0 100%);
    color: #fff;
    float: left;
    line-height: 0.9;
    font-weight: 600;
    clip-path: polygon(0 -1%, 100% -1%, calc(100% - 35px) 100%, 0 100%);
  }

.text{
    display:block;
    margin-top:30px;
    width: 80vw;
    margin:0 auto;
}
.text h2 
{
    text-align: center;
    transform: translateX(-100%);
    animation: move-into-place 2s ease;
    animation-fill-mode: forwards;
}
@keyframes move-into-place {
    from{
        transform: translateX(-100%);

    }
    to{
        transform: translateX(0%);

    }
}
.item-container
{
    padding: 5px;
    border-bottom: 1px solid gray;
}
.item-container input 
{
    margin-left: 40%;
}

.text h2{
    font-size:30px;
    color:white;
    text-shadow: 2px 2px 2px black;
}

.text h3{
    color:white;
    text-shadow: 2px 2px 2px black;
    text-align: left;
    display:block;
}

.text p{
    font-size:20px;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    display:inline-block;
    width:700px;
    border-style:solid;
    text-shadow: 2px 2px 2px black;
    padding:40px;
    background-color:#1a194b;
    color:#f3f3f3;
    
    box-shadow:1px 1px 10px 2px red;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #f4511e;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
  }
  
.back-to-top:hover {
    opacity: 0.8;
  }
  
.arrow-up {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(-225deg);
    margin: 17px auto 0;
    position: relative;
  }
  
  @media only screen and (min-height: 600px) {
    .back-to-top {
      display: block;
    }
  }

.foot{
    margin-top:50px;
    border-top:solid;
    border-color: white;
    height:93px;
    background-color: rgb(1, 0, 39);
}

.left{
    float:left;
    padding:15px;
    font-size:18px;
    color:white;
    text-shadow: 2px 2px 2px black;
}

.right{
    float:right;
}

.right ul{
    list-style: none;
}

.right li{
    display:inline-block;
    padding:15px;
    margin-right:10px;
    font-size:18px;
    
    text-shadow: 2px 2px 2px black;
}

.right a{
    color:white;
    text-decoration:none;
}

.right a:hover{
    color:#ff2e2e;
}
/* stilul implicit pentru toate casetele */
.caseta {
    /* display: none; */
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
/* stilul casetei atunci cand subtitlul este selectat */
.subtitlu:checked ~ .caseta {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TEST*/
.footer-toggle-show,
.footer-toggle-hide {
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 2.5rem;

}
.footer-toggle-show img 
{
    height: 20px;
    object-fit: contain;
}
.footer-toggle-show:hover{
    color: gray;
    transition: all 0.5s ease
}
.footer-toggle-hide:hover{
    color: gray;
    transition: all 0.5s ease
}
.footer-details,
.footer-toggle-hide,
.footer-toggle-show:target {
  display: none;
}

.footer-toggle-show:target + .footer-toggle-hide,
.footer-toggle-show:target ~ .footer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-toggle-show:after,
.footer-toggle-hide:after {
  float: right;
  content: "+";
}
.footer-toggle-hide:after {
  transform: rotate(45deg) scale(1.09);
}

.text-header 
{
    text-align: left;
    flex-direction: row !important;
    align-items: space-between !important;
    justify-content: space-between !important;
}
 